# Server Config
PORT=5000

# Database Configuration
# Local MongoDB: mongodb://127.0.0.1:27017/DATN_Ecommerce
# Cloud Mongo: mongodb+srv://<username>:<password>@cluster.mongodb.net/DATN_Ecommerce
MONGODB_URI=mongodb://127.0.0.1:27017/ECommerce

# JWT Authentication Config
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d